# Dependências
node_modules/

# Arquivos de ambiente 
.env
.env.*

# Docker volumes (caso use pasta local)
postgres_data/

# Prisma
prisma/generated/
generated/prisma/

dist/
build/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

.DS_Store
Thumbs.db

# IDE / editor
.vscode/
.idea/

# Cache
.cache/
.tmp/

# TypeScript
*.tsbuildinfo

# Docker volumes (caso use pasta local)
postgres_data/